---
profile: true
---

{% include post-list.html %}

<div id="apps" class="sayoeti-media app">
  <img src="/assets/images/sayoeti-app-logo.png" alt="">
  <h2>Dapatkan Berita Aktual Masalah Korupsi</h2>
  <p>Aplikasi Android yang dikembangkan menggunakan Sayoeti API</p>
  <p><a href="#">Download Aplikasi</a></p>

</div>

<div id="apps" class="sayoeti-media api">
  <img src="/assets/images/sayoeti-api-logo.png" alt="">
  <h2>Kembangkan Aplikasi dengan Sayoeti API</h2>
  <p>Kamu bisa dengan Mudah Mengintegrasikan Aplikasi Kamu Dengan Sayoeti API</p>
  <p><a href="https://developer.sayoeti.xyz">Lihat Dokumentasi</a></p>

</div>
{% include footer.html %}