<div class="profile">
    <section id="wrapper">
        <header id="header">
            <img id="avatar" src="{{ site.baseurl }}assets/images/sayoeti-logo.png" alt="Logo Sayoeti"/>
            <!-- <h1>{{ site.author }}</h1> -->
            <h2>{{ site.description }}</h2>
            
            <!-- <div class="cta-button">
                <a href="#apps">Download Apps</a>
                <a href="https://developer.sayoeti.xyz">Kembangkan Apps Dengan Sayoeti &#8594;</a>
            </div> -->
            <div class="sayoeti-do double clearfix">
                <div class="sayoeti-do-item">
                    <img src="/assets/images/sayoeti-do-memantau.png" alt="Gambar: Sayoeti Memantau">
                    <h2>Sayoeti Memantau</h2>
                    <p>Sayoeti memantau semua berita yang terbit mengenai KPK ataupun Korupsi dari semua media massa di Indonesia.</p>
                </div>
                <div class="sayoeti-do-item">
                    <img src="/assets/images/sayoeti-do-menganalisa.png" alt="Gambar: Sayoeti Menganalisa">
                    <h2>Sayoeti Menganalisa Sentimen</h2>
                    <p>Sayoeti menganalisa sentimen media massa mana yang cenderung Pro - Netral - Kontra KPK</p>
                </div>
            </div>
            <div class="sayoeti-do single">
                <div class="sayoeti-do-item">
                    <img src="/assets/images/sayoeti-do-menyampaikan.png" alt="Gambar: Sayoeti Menyampaikan">
                    <h2>Sayoeti Menyampaikan</h2>
                    <p>Sayoeti menyampaikan berita tentang KPK dan Korupsi kepada masyarakat melalui Sayoeti Apps.</p>
                </div>
            </div>
        </header>
    </section>
</div>